.intro {
    text-align: left;
}


@media (min-width: 320px) {
    .intro {
        max-width: 288px;
        margin: 0 auto;
        margin-bottom: 64px;
    }
}

@media (min-width: 768px) {
    .intro {
        max-width: 720px;
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .intro {
        max-width: 928px;
        margin-bottom: 92px;
    }
}